<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-input label="Username" [(ngModel)]="input_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Phone" [(ngModel)]="input_phone"></ion-input>
    </ion-item>
    {{set_value}}
    <ion-button (click)="set_my_value()">Записать</ion-button>

  </ion-list>
  <ion-list>
    <ion-item *ngFor="let user of user_list">
      <ion-label>{{user.username}}</ion-label>
      <ion-label>{{user.phone}}</ion-label>
      <ion-button>Удалить</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
